.footer__copyright {
  justify-content: space-between;
  height: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    margin-top: -2px;
    height: 14px;
    line-height: 14px;
    align-self: auto;
    margin-left: 40px;
  }
}